body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

button {
    margin-top: 10px; /* Add margin to the top of the button */
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

.square {
    width: 20px;
    height: 20px;
    margin: 2px;
    box-sizing: border-box;
    background-color: #3498db;
    border: 1px solid #2980b9;
    transition: background-color 0.3s ease;
}

.square:hover {
    background-color: #e74c3c;
}
